.hero {
  height: 100vh;
  position: absolute;
  left: 324px;
  width: 824px;
  top: 32px;
}

.name_sub_container {
  display: flex;
  position: absolute;
  z-index: 1;
  flex-direction: column;
  align-items: flex-end;
  top: 528px;
}

.copy h1 {
  font-size: 100px;
  color: var(--accent);
  font-weight: 700;
  margin-block-end: 0;
}

.copy .subtitle {
  font-family: 'Quantico';
  font-size: 48px;
  font-weight: 700;
  margin-block-start: 16px;
  color: transparent;
  -webkit-text-stroke: 1px var(--accent);
}

.actions {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.portrait {
  height: 100vh;
  object-fit: cover;
}

.next-arrow {
  display: flex;
  position: absolute ;
  left: 1200px ;
  top: 326px ;
}