.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name_sub_container {
  display: flex;
  position: absolute;
  z-index: 1;
  flex-direction: column;
  align-items: flex-end;
  top: 56%;
}

.content {
  align-items: center;
  display: flex;
}

.copy {
  display: flex;
  justify-content: center;
}


.copy h1 {
  font-size: 100px;
  color: var(--accent);
  font-weight: 700;
}

.copy .subtitle {
  font-family: 'Quantico';
  font-size: 48px;
  font-weight: 700;
  margin-block-start: 24px;
  color: transparent;
  -webkit-text-stroke: 1px var(--accent);
}

.actions {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.portrait {
  height: 100vh;
  object-fit: cover;
}