:host {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 84px;
  z-index: 10;
}

.side {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 18px 8px;
  color: #0b0d0f;
  gap: 80px;
}

.brand {
  text-align: center;
}

.brand .mono {
  display: block;
  font-family: 'Quantico';
  font-weight: 700;
  font-size: 18px;
}

.brand small {
  display: block;
  font-size: 12px;
  opacity: .75;
}

.nav-link {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #0b0d0f;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: .5px;
  border-right: 4px solid transparent;
  transition: border-color .12s;
}

.nav-link.active {
  border-right-color: #0b0d0f;
}