.why {
    height: 100vh;
    position: relative;
    display: grid;
    align-content: center;
    gap: 1.2rem;
}

.v-right {
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    color: var(--accent);
    font-family: 'Quantico';
    font-weight: 700;
    letter-spacing: 1px;
}

.title {
    font-size: clamp(28px, 4vw, 48px);
    color: var(--accent);
}

.lead {
    max-width: 720px;
    color: var(--muted);
}

.badges {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    margin-top: .75rem;

    li {
        list-style: none;
        display: flex;
        align-items: center;
        gap: .6rem;
        padding: .7rem 1.1rem;
        border-radius: 999px;
        background: #151a20;
        border: 1px solid #1e242c;
    }

    img {
        width: 20px;
        height: 20px;
    }
}