@media (min-width: 1440px) and (max-width: 1920px) {
  .why {
    width: clamp(900px, 62.5vw, 1200px);
    top: 255px;
  }

  .next-arrow {
    left: calc(100vw - 172px - 120px);
    top: 668px;
  }

  :host-context(html[lang="de"]) .next-arrow {
    top: 828px;
  }
}

@media (min-width: 901px) and (max-width: 1439px) {
  .why {
    position: relative;
    width: min(835px, calc(100vw - 216px - 64px));
    left: 0;
    top: clamp(88px, 12vh, 200px);
    margin-left: 216px;
    gap: clamp(32px, 4vw, 52px);
  }

  .badges {
    padding-inline-start: 0;
    justify-content: center;
    gap: 24px;
  }

  .btn-pos {
    justify-content: center;
  }
}

@media (min-width: 901px) and (max-width: 1300px) {
  .next-arrow {
    position: absolute;
    left: calc(100vw - 160px);
    top: clamp(768px, 60vh, 480px) !important;
  }
}

@media (max-width: 900px) {
  .why {
    display: flex;
    flex-direction: column;
    position: static;
    width: 100%;
    height: 100%;
    padding-top: 56px;
    padding-bottom: 56px;
    gap: 24px;
  }

  .header-txt {
    writing-mode: initial;
    transform: unset;
    padding: 0;
    font-size: 32px;
    -webkit-text-stroke: 1px var(--accent);
  }

  p {
    font-size: 16px;
  }

  .lead {
    margin-block-end: 52px;
  }

  .info-container {
    align-items: center;
  }

  .title {
    text-align: center;
    font-size: 32px;
    margin-block-start: 0;
    padding-top: 0;
  }

  .badges {
    padding-inline-start: 0;
    flex-direction: column;
  }

  .why-text {
    height: auto;
  }

  .next-arrow {
    display: none;
  }

  .location-icon {
    display: none !important;
  }

  .remote-icon {
    order: 2;
  }

  .relocation-icon {
    order: 1;
  }
}
