
<section class="why container">
  <h1 class="v-left">Why me</h1>

  <h2 class="title">I am</h2>
  <p class="lead">Schreibe 2–3 Sätze über Motivation, Fokus, Lernbereitschaft …</p>

  <ul class="badges">
    <li><img src="assets/img/icons/about_me/location.png" alt=""> <span>located in city name</span></li>
    <li><img src="assets/img/icons/about_me/remote.png" alt=""> <span>open to work remote</span></li>
    <li><img src="assets/img/icons/about_me/relocation.png" alt=""> <span>open to relocate</span></li>
  </ul>

   <img class="next-arrow" src="../../../assets/img/icons/arrows/arrow_right.png" alt="Weiter" role="button" tabindex="0"
    (click)="onNext()" (keydown)="onKey($event)" />
</section>