<div class="refs container">
  <aside class="vertical">References</aside>

  <div class="refs__list">
    <article class="ref">
      <blockquote>“Michael is a reliable and friendly person… I recommend him as a colleague.”</blockquote>
      <div class="ref__author">
        <strong>James Rugman</strong>
        <span>Project Join</span>
      </div>
    </article>

    <article class="ref">
      <blockquote>“He is a trustworthy teamplayer … Structured work and clear code.”</blockquote>
      <div class="ref__author"><strong>Evelyn Marx</strong><span>Project DA Bubble</span></div>
    </article>

    <article class="ref">
      <blockquote>“Michael had to develop, format and deliver content… reliable and friendly person.”</blockquote>
      <div class="ref__author"><strong>Noah Mueller</strong><span>Project Sharkie</span></div>
    </article>
  </div>
</div>
