<section class="skills">
  <aside class="v-left">My Skill Set</aside>
  <p class="intro">A short introduction of your skills …</p>

  <ul class="grid">
    <li class="skill"><img src="assets/img/icons/skill/angular.png" alt=""><span>Angular</span></li>
    <li class="skill"><img src="assets/img/icons/skill/typescript.png" alt=""><span>TypeScript</span></li>
    <li class="skill"><img src="assets/img/icons/skill/javaScript.png" alt=""><span>JavaScript</span></li>
    <li class="skill"><img src="assets/img/icons/skill/html.png" alt=""><span>HTML</span></li>
    <li class="skill"><img src="assets/img/icons/skill/css.png" alt=""><span>CSS</span></li>
    <li class="skill"><img src="assets/img/icons/skill/api.png" alt=""><span>REST-API</span></li>
    <li class="skill"><img src="assets/img/icons/skill/firebase.png" alt=""><span>Firebase</span></li>
    <li class="skill"><img src="assets/img/icons/skill/git.png" alt=""><span>Git</span></li>
    <li class="skill"><img src="assets/img/icons/skill/scrum.png" alt=""><span>Scrum</span></li>
    <li class="skill"><img src="assets/img/icons/skill/materialDesign.png" alt=""><span>Material Design</span></li>
    <li class="skill"><img src="assets/img/icons/skill/challengeMe.png" alt=""><span>Challenge me</span></li>
    <li class="skill"><img src="assets/img/icons/skill/wordpress.png" alt=""><span>WordPress</span></li>
  </ul>
</section>