.skills {
  position: relative;
  display: flex;
  align-content: flex-start;
  width: 971px;
  height: 359px;
  top: 461px;
  left: 216px;
}

.skills-pos {
  height: 100%;
  display: flex;
  align-items: center;
}

.icons-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grid {
  display: grid;
  padding-inline-start: 0;
  grid-template-columns: repeat(auto-fit, minmax(136px, 1fr));
}

.skill {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-pos {
  padding-left: 40px;
}

.skill img {
  width: 60px;
  height: 60px;
}

.next-arrow {
  position: absolute;
  top: 339px;
  left: 1200px;
}

.header-txt {
  text-align: center !important;
}