:root {
  --text: rgba(255, 253, 253, 1);
  --accent: rgba(181, 233, 59, 1);
  --accent-weak: rgba(211, 237, 151, 1);
  --accent-end: rgba(84, 120, 0, 1);
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: var(--text);
  font-family: "Roboto Mono";
}

body {
  background-image: url("../src/assets/img/background/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2,
h3 {
  font-family: "Quantico";
  line-height: 1.1;
  margin: 0;
}

.header-txt {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: 100%;
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 3px var(--accent);
  font-size: 54px;
  text-align: end;
}

p {
  font-family: "Quantico";
  font-weight: 400;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.btn {
  font-family: "Quantico";
  font-weight: 400;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  padding: 13px 30px 13px 30px;
  border-radius: 30px;
  border: 1px solid transparent;
  background: var(--accent);
  color: rgba(37, 37, 37, 1);
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(160.33deg, #b5e93b 50.78%, #547800 133.54%);
}

.btn--ghost:hover {
  background: rgba(181, 233, 59, 0.2);
  border-color: rgba(211, 237, 151, 1);
  color: var(--text);
}

.btn--ghost {
  background: transparent;
  color: var(--accent);
  border-color: var(--accent);
}

img {
  display: block;
}

/* Roboto Mono – 400 normal */
@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/roboto-mono-v31-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Roboto Mono – 700 normal */
@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/roboto-mono-v31-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Roboto Mono – 400 italic */
@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/roboto-mono-v31-latin-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Roboto Mono – 700 italic */
@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/roboto-mono-v31-latin-700italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Quantico (keine Variable-Version) – nur die 2 Schnitte, die du brauchst */
@font-face {
  font-family: "Quantico";
  src: url("/assets/fonts/quantico-v19-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quantico";
  src: url("/assets/fonts/quantico-v19-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
