@media (min-width: 1440px) and (max-width: 1920px) {
  .section {
    flex: 0 0 clamp(1100px, calc(100vw - 172px), 1650px);
  }
  #about,
  #skills,
  #why-me {
    flex: 0 0 clamp(1100px, calc(100vw - 300px), 1630px);
  }
  #references {
    flex: 0 0 clamp(1100px, calc(100vw - 90px), calc(100vw - 80px));
  }
  #contact {
    flex: 0 0 clamp(1100px, calc(100vw - 172px), 1720px);
  }
}

@media (max-width: 900px) {
  .side-nav {
    width: 100%;
  }

  #about.section,
  #why-me.section,
  #skills.section,
  #references.section,
  #my-work.section {
    flex: 0 0 auto;
    min-height: auto !important;
  }

  #references.section {
    min-height: auto;
    padding-top: 56px;
    padding-bottom: 56px;
  }

  #skills.section {
    padding-inline: 0;
  }

  .sections {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 72px);
    margin-left: 0;
    width: auto;
  }

  .section {
    flex: 0 0 auto;
    height: auto;
    min-height: 100vh;
    scroll-snap-align: start;
    padding-inline: 20px;
  }
}

@media (max-width: 400px) {
  #about.section {
    padding-inline: 0;
  }
}

@media (min-width: 901px) and (max-width: 1439px) {
  .sections {
    margin-left: clamp(0px, 12vw, 172px);
    width: auto;
  }

  #contact {
    flex: 0 0 clamp(920px, calc(100vw - 172px), 1224px);
  }

  #references {
    flex: 0 0 clamp(1000px, calc(100vw - 100px), 1104px);
  }
}
