<!-- linke, fixe grüne Seitenleiste mit vertikaler Navigation -->
<app-side-nav class="side-nav"></app-side-nav>

<!-- horizontale Bühne mit Sektionen (100vw/100vh) -->
<div #sectionsContainer class="sections" aria-label="Horizontal Sections">
  <section id="about" class="section"><app-about></app-about></section>
  <section id="why-me" class="section"><app-why-me></app-why-me></section>
  <section id="skills" class="section"><app-skills></app-skills></section>
  <section id="my-work" class="section"><app-my-projects></app-my-projects></section>
  <section id="references" class="section"><app-references></app-references></section>
  <section id="contact" class="section"><app-contact></app-contact></section>
</div>

<app-legal><section class="sections section"></section></app-legal>

<app-privacy><section id="privacy" class="sections section"></section></app-privacy>
