#why-me,
#skills {
  flex: 0 0 1156px !important;
}

#references {
  flex: 0 0 1104px !important;
}

.sections {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  background: transparent;
  z-index: 10;
}

.section {
  flex: 0 0 1224px;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  background: transparent;
}

app-legal {
  position: relative;
  z-index: 0;
  display: block;
}